* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: #42d8fd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: rgb(238, 255, 0);
  border: 20px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 1s, transform 0.3s 1s cubic-bezier(0, 1.36, 1, 1);
  animation: move 2s infinite;
  position: absolute;
  left: 0;
s}

.circle:hover {
  background: red;
  border: 20px solid rgb(238, 255, 0);
  color: white;
  transform: rotate(-360deg) scale(2);
  font-size: 20px;
}

.cloud {
  position: absolute;
  left: 0;
  animation-name: move;
}

@keyframes move {
  from {
    transform: translateX(0) scale(0.5);
  }

  to {
    transform: translateX(1200px) scale(1.5);
  }
}
