* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: #42d8fd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
  overflow: hidden;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: rgb(238, 255, 0);
  border: 20px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 1s, transform 0.3s 1s cubic-bezier(0, 1.36, 1, 1);
  /* animation: move 2s infinite; */
  position: absolute;
  left: 0;
  overflow-x: hidden;
}

.circle:hover {
  background: red;
  border: 20px solid rgb(238, 255, 0);
  color: white;
  transform: rotate(-360deg) scale(2);
  font-size: 20px;
}

.cloud {
  position: absolute;
  left: 0;
}

.rect {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background: silver;
  background: linear-gradient(45deg, #e20b0b, #3d7b5d);
  top: 30px;
  left: 0;
  animation: move 1s infinite alternate, fall 1s 2s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0px) rotatez(0deg) scale(1);
  }

  0% {
    transform: translateX(1200px) rotatez(360deg) scale(1.5);
  }
}

@keyframes fall {
  0% {
    top: 30px;
  }
  50% {
    top: 250px;
  }
  100% {
    top: 40px;
  }
}
